body{margin:0px 0px 0px 0px; color:#333333; font-size:12px; font-family:tahoma,Dotum,돋움;}
td{font-family: tahoma,Dotum,돋움; font-size:12px; color:#bba291; line-height:20px;}
img{border:0px;}
form { display:inline; }

a:link { font-size:12px; letter-spacing:-1px; font-family:Verdana,돋움;  text-decoration: none;color: 666666;}
a:visited{font-size:12px; letter-spacing:-1px; font-family:Verdana,돋움; text-decoration: none;color: 666666;}
a:hover { font-size:12px; letter-spacing:-1px; font-family:Verdana,돋움; text-decoration:  none;color: e68739;}

.mainArea{text-align:center; padding-top:20px;}

/*서브위치들*/
.leftBase{background-image:url(/images/sub_base/leftBase.gif); background-repeat:repeat-y; width:4px;}
.rightBase{background-image:url(/images/sub_base/rightBase.gif); background-repeat:repeat-y; width:4px;}
.subBase{background-image:url(/images/sub_base/subBase.gif); background-repeat:repeat-y; width:208px; vertical-align:top;}
.subDn_btn{background:#000000; text-align:center; vertical-align:top;}
.subInfo{background:#000000; text-align:center; vertical-align:top; padding-top:30px;}
.submenu{background:#000000; vertical-align:top; padding-top:20px; padding-left:15px;}

/*서브메인텍스트*/
.subMain{vertical-align:top; padding:15px 25px 15px 25px; background-color:#270000;}

/*서브 제목*/
.subSubject{color:#e68739; font-size:18px; font-weight:bold;}
.subSubjectHome{text-align:right; color:#ecad76; vertical-align:middle;}
.subSubjectLine{padding:10px 0px 20px 0px;}
.subTxt{color:#a18874; line-height:20px;}
.subtxtPoint{color:#e16400;}
.subStrong{font-weight:bold;}

/*서브 텍스트*/
.subTxt2{color:#ffffff; font-size:12px; font-weight:bold;}

/*게임 테이블패딩*/
.gameTP{padding-top:15px;}
.gameTL{background:#4d2f17;}
.gameTL2{background:#240000;}
.gameSubject{text-align:center;}
.gameSsubjectBack{background:#000000;}
.gameTxt{padding-left:5px;}
.gameW{width:20px;}
.blank{}